.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  .contentLeft {
    flex: 2;
    border: 1px solid black;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    span {
      font-size: 12px;
      background-color: #fff;
      position: absolute;
      top: -6px;
      left: 10px;
      padding: 0 5px;
    }
    .itemLeft {
      flex: 4;
      border: 1px solid black;
    }
    .footerLeft {
      flex: 1;
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      align-items: center;
      button {
        background-color: #1677ff;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: 10px;
        color: white;
        cursor: pointer;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .contentRight {
    flex: 1;
    border: 1px solid black;
    position: relative;
    span {
      font-size: 12px;
      background-color: #fff;
      position: absolute;
      top: -6px;
      left: 10px;
      padding: 0 5px;
    }
  }
}
