.memoryContent {
  width: 100%;
  height: 100%;
  .memoryHeader {
    width: 100%;
    height: 25px;
  }
  .memoryMain {
    width: 100%;
    height: calc(100% - 25px);
    .logicalMemory {
      width: 100%;
      height: 80%;
    }
    .infoCpu {
      padding: 5px;
      width: 100%;
      height: 20%;
    }
  }
}
