[data-theme='purple'] {
  --color-50: #111316;
  --color-100: #101722;
  --color-200: #121e2f;
  --color-300: #10233d;
  --color-400: #0f294f;
  --color-500: #0d3061;
  --color-600: #214673;
  --color-700: #395d84;
  --color-800: #577692;
  --color-900: #788fa0;
  --color-A100: #ea80fc;
  --color-A200: #e040fb;
  --color-A400: #d500f9;
  --color-A700: #aa00ff;
}
