.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 9px;
  overflow: auto;
  .tr {
    th {
      border: 1px solid white;
      background-color: #b37feb;
    }
    .td,
    .th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  }
}
